Docs/site/

FPGA/Data/Simulation/code.bin
FPGA/Simulation/output/*.log
FPGA/Simulation/output/*.out
FPGA/Simulation/output/*.vcd

Software/BuildTools/ASM/*.asm
Software/BuildTools/ASM/*.list
Software/BuildTools/ASM/*.bin

__pycache__/
