Docs/site

Hardware/Vivado/FPGC.cache
Hardware/Vivado/FPGC.hw
Hardware/Vivado/FPGC.gen
Hardware/Vivado/FPGC.ip_user_files
Hardware/Vivado/FPGC.runs
Hardware/Vivado/FPGC.sim

Hardware/Vivado/FPGC.srcs/simulation/output

__pycache__

.venv
BuildTools/ASMPY/build
asmpy.egg-info
.mypy_cache
.pytest_cache
.ruff_cache
.coverage

.vscode

old_ASM
